export(TukeyC)
export(cv)

import(
 doBy,
 utils,
 stats,
 graphics
)

# S3 methods
S3method(TukeyC, formula)
S3method(TukeyC, lm)
S3method(TukeyC, aovlist)
S3method(TukeyC, lmerMod)
S3method(TukeyC, nest.lm)
S3method(TukeyC, nest.aovlist)
S3method(TukeyC, nest.lmerMod)
S3method(summary, TukeyC)
S3method(print, TukeyC)
S3method(plot, TukeyC)
